bin
obj
appsettings**
**workspace
.vscode
deploy.sh
Dockerfile
db_setup.sql
dll
pdb

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
bin/Debug/net5.0/ref
bin/Debug/net5.0/keepr2.pdb
